header > div > nav > ul > li > a,
header > div > div,
header > div > div > div > button > span,
header > div > div > div > div > form > div > input{
    font-family: 'Raleway';
}

header > div > div > div > div > form > div > input[type="search"]{
    font-family: "Noto Sans KR", sans-serif;
}




a{
    display: block;
    text-decoration: none;
}
span{
    display: block;
}







@media screen and (min-width: 1280px){

    header{
        background-color: #f3f5f6;
        padding: 0 2.6%;
        display: flex;
        
    }
    header > h1{
        width: 7.29%;
        margin:20px 3.9% 20px 0;
        display: flex;
        
    }
    header > h1 > a{
        align-self: center;
    }
    header > h1 > a > img{
        width: 100%;
    }
    header > input{
        display: none;
    }
    header > div{
        display: flex;
        justify-content: space-between;
        width: 88.91%;
    }
    header > div > nav{
        width: 60%;
    }
    header > div > nav > ul{
        display: flex;
        width: 100%;
        
        
    }
    header > div > nav > ul > li{
        display: block;
        flex-grow: 1;
        position: relative;
        align-self: center;
    }
    header > div > nav > ul > li > a{
        color: #161c2d;
        font-size: 20px;
        font-weight: 700;
        padding: 55px 25px;
        text-align: center;
        transition: color 0.2s ease-in-out;
        
    }
    header > div > nav > ul > li::after{
        border-bottom: 5px solid #26ff92;
        content: '';
        display: block;
        width: 0%;
        transition: width 0.3s ease-in-out;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    header > div > nav > ul > li:hover::after{
        width: 100%;
    }
    header > div > nav > ul > li:hover > a{
        color: #26ff92;
    }
    header > div > div{
        display: flex;
        padding-top: 20px;
        position: relative;
        width: 25%;
        justify-content: space-between;
    }
    header > div > div > div{
        align-self: center;
    }
    header > div > div > div > button > span,
    header > div > div > div > a{
        font-size: 18px;
        font-weight: 700;
        color: #161c2d;
        text-align: center;
    }
    header > div > div > div > a,
    header > div > div > div > button{
        padding-top: 65px;
    }
    header > div > div > div > button{
        border: none;
        display: block;
        background: url('../images/haro_search.png')center top no-repeat;
    }
    header > div > div > div:nth-child(2) > a{
        background: url('../images/signin_icon.png')center top no-repeat;
    }
    header > div > div > div:nth-child(2) > a:hover{
        background: url('../images/signin_hover.png')center top no-repeat
    }
    header > div > div > div:last-child > a{
        background: url('../images/myaccount.png')center top no-repeat;
    }
    header > div > div > div:last-child > a:hover{
        background: url('../images/myaccoun_hover.png')center top no-repeat;
    }


    header > div > div > div > div{
        position: absolute;
        left: -73.4%;
        bottom: -65px;
        background-color: #f3f5f6;
        width: 180%;
        padding: 10px;
        display: none;
    }
    header > div > div > div > div.searchbar{
        display: block;
    }
    header > div > div > div > div > form > div > input{
        float: left;
    }
    header > div > div > div > div > form > div > input[type="search"]{
        width: 50%;
        border: 1px solid #161c2d;
        padding: 10px;
        margin-right: 10px;
        font-size: 20px;
        
    }
    header > div > div > div > div > form > div > input[type="submit"]{
        border: 1px solid #161c2d;
        background-color: #ffffff;
        color: #161c2d;
        font-size: 20px;
        padding: 10px;
        font-weight: 700;
        box-sizing: border-box;
        margin-right: 10px;
        
    }
    header > div > div > div > div > form > div > input[type="button"]{
        border: 1px solid #161c2d;
        background-color: #ffffff;
        color: #161c2d;
        font-size: 20px;
        padding: 10px;
        font-weight: 700;
        box-sizing: border-box;
        
    }
    header > div > div > div > div > form > div > input[type="submit"]:hover,
    header > div > div > div > div > form > div > input[type="button"]:hover{
        background-color: #161c2d;
        color: #26ff92;
    }
    .carticon{
        width: 90px;
        height: 90px;
        background-color:#f3f5f6 ;
        border-radius: 50%;
        position: fixed;
        right: 4%;
        bottom: 5%;
    }
    .carticon > span{
        text-indent: -9999px;
        background: url('../images/cart.png')center center no-repeat;
        width: 100%;
        height: 100%;
    }
    .carticon:hover{
        background-color: #161c2d;
    }
    .carticon:hover > span{
        background: url('../images/cart_hover.png')center center no-repeat;
    }
}